<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">Examen Fullstack Developer</a>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="https://www.linkedin.com/in/juan-francisco-galv%C3%A1n-de-santiago-503764187/">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: linkedin"></span>
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Madoka09/">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: github"></span>
                        Github
                    </a>
                </li>
            </ul>
        </ul>
    </div>
</nav>

<div class="uk-overflow-auto">
    <h1 class="uk-heading-small uk-heading-bullet">Empresas <a class="uk-icon-button uk-text-rigth" uk-icon="plus"
            uk-tooltip="Añadir Nuevo" href="#create-corp-modal" uk-toggle></a></h1>
    <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Legal</th>
                <th>Nombre Comercial</th>
                <th>RFC</th>
                <th>Teléfono</th>
                <th>Fecha de Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each empresas as |empresa|}}
            <tr>
                <td>{{empresa.id}}</td>
                <td>{{empresa.nombre_legal}}</td>
                <td>{{empresa.nombre_comercial}}</td>
                <td>{{empresa.rfc}}</td>
                <td>{{empresa.telefono}}</td>
                <td>{{empresa.fecha_registro}}</td>
                <td>
                    <form method="POST" action="/editar-empresa" style="display: inline-block;">
                    <input hidden name="corpId" value="{{empresa.id}}">
                        <button class="uk-icon-link uk-margin-small-right" uk-icon="file-edit"
                            uk-tooltip="Editar Registro" type="submit"></button>
                    </form>

                    <form method="POST" action="/borrar-empresa/{{empresa.id}}" style="display: inline-block;">
                        <button class="uk-icon-link" uk-icon="trash" uk-tooltip="Borrar Registro"
                            type="submit"></button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <hr class="uk-divider-icon">

    <h1 class="uk-heading-small uk-heading-bullet">Usuarios <a class="uk-icon-button uk-text-rigth" uk-icon="plus"
            uk-tooltip="Añadir Nuevo" href="#register-modal" uk-toggle></a></h1>
    <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>E-mail</th>
                <th>Password</th>
                <th>Rol</th>
                <th>Empresa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each usuarios as |usuario|}}
            <tr>
                <td>{{usuario.id}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.password}}</td>
                <td>{{usuario.rol_id}}</td>
                <td>{{usuario.empresa_id}}</td>
                <td>
                    <form method="POST" action="/editar-usuario" style="display: inline-block;">
                    <input hidden name="userId" value="{{usuario.id}}">
                        <button type="submit" class="uk-icon-link uk-margin-small-right" uk-icon="file-edit"
                            uk-tooltip="Editar Registro"></button>
                    </form>

                    <form method="POST" action="/borrar-usuario/{{usuario.id}}" style="display: inline-block;">
                        <button class="uk-icon-link" uk-icon="trash" uk-tooltip="Borrar Registro" type="submit"
                            uk-toggle></button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <hr class="uk-divider-icon">

    <h1 class="uk-heading-small uk-heading-bullet">Roles <a class="uk-icon-button uk-text-rigth" uk-icon="plus"
            uk-tooltip="Añadir Nuevo" href="#create-role-modal" uk-toggle></a></h1>
    <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>ID</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each roles as |rol|}}
            <tr>
                <td>{{rol.id}}</td>
                <td>{{rol.rol}}</td>
                <td>
                    <form method="POST" action="/editar-rol" style="display: inline-block;">
                    <input hidden name="roleId" value="{{rol.id}}">
                        <button class="uk-icon-link uk-margin-small-right" uk-icon="file-edit"
                            uk-tooltip="Editar Registro" type="submit"></button>
                    </form>

                    <form method="POST" action="/borrar-rol/{{rol.id}}" style="display: inline-block;">
                        <button class="uk-icon-link" uk-icon="trash" uk-tooltip="Borrar Registro" type="submit"
                            uk-toggle></button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <br>
</div>

<!--MODAL DE CAPTURA DE EMPRESA-->
<div id="create-corp-modal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-margin-auto-vertical">
            <div class="uk-padding-large" uk-height-viewport>
                <h1>Capturar Empresa</h1>
                <form method="POST" action="/crear-empresa">
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Nombre Legal</legend>

                        <div class="uk-margin">
                            <input name="nombre_legal" id="nombre_legal" class="uk-input" type="text"
                                placeholder="Nombre Legal de la Empresa" maxlength="50" required>
                        </div>

                        <legend class="uk-legend">Nombre Comercial</legend>

                        <div class="uk-margin">
                            <input name="nombre_comercial" id="nombre_comercial" class="uk-input" type="text"
                                placeholder="Nombre Comercial de la Empresa" maxlength="65">
                        </div>

                        <legend class="uk-legend">RFC</legend>

                        <div class="uk-margin">
                            <input name="rfc" id="rfc" class="uk-input" type="text" placeholder="13 Carácteres"
                                maxlength="13" required>
                        </div>

                        <legend class="uk-legend">Teléfono</legend>

                        <div class="uk-margin">
                            <input name="telefono" id="telefono" class="uk-input" type="tel"
                                placeholder="(XX) XXXX-XXXX" maxlength="20" required>
                        </div>

                    </fieldset>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                        <button class="uk-button uk-button-secondary" type="submit">Guardar Registro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--FIN MODAL DE EMPRESA-->

<!--MODAL DE CAPTURA DE USUARIO-->
<div id="register-modal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-margin-auto-vertical">
            <div class="uk-padding-large" uk-height-viewport>
                <h1>Crear nuevo Usuario</h1>
                <form method="POST" action="/crear-usuario">
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Nombre(s)</legend>

                        <div class="uk-margin">
                            <input name="nombre" id="nombre" class="uk-input" type="text"
                                placeholder="Introduce tu Nombre" maxlength="60" required>
                        </div>

                        <legend class="uk-legend">Apellido(s)</legend>

                        <div class="uk-margin">
                            <input name="apellido" id="apellido" class="uk-input" type="text"
                                placeholder="Introduce tu Apellido" maxlength="80" required>
                        </div>

                        <legend class="uk-legend">Correo Electrónico</legend>

                        <div class="uk-margin">
                            <input name="email" id="email" class="uk-input" type="email"
                                placeholder="ejemplo@ejemplo.com" maxlength="80" required>
                        </div>

                        <legend class="uk-legend">Contraseña</legend>

                        <div class="uk-margin">
                            <input name="password" id="password" class="uk-input" type="password"
                                placeholder="Contraseña" maxlength="100" required>
                        </div>

                        <legend class="uk-legend">Confirmar Contraseña</legend>

                        <div class="uk-margin">
                            <input name="password_confirm" id="password_confirm" class="uk-input" type="password"
                                placeholder="Confirma tu Contraseña" maxlength="100" required>
                        </div>

                        <legend class="uk-legend">Rol</legend>

                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <select name="rol" id="rol" class="uk-select" id="form-stacked-select" required>
                                    <option selected>Seleccionar Rol...</option>
                                    {{#each roles as |rol|}}
                                    <option value="{{rol.id}}">{{rol.rol}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <legend class="uk-legend">Empresa</legend>

                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <select name="empresa" id="empresa" class="uk-select" id="form-stacked-select" required>
                                    <option selected>Seleccionar Empresa...</option>
                                    {{#each empresas as |empresa|}}
                                    <option value="{{empresa.id}}">{{empresa.nombre_legal}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                    </fieldset>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                        <button class="uk-button uk-button-secondary" type="submit">Guardar Registro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--FIN MODAL DE USUARIO-->

<!--MODAL DE CAPTURA DE ROL-->
<div id="create-role-modal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-margin-auto-vertical">
            <div class="uk-padding-large" uk-height-viewport>
                <h1>Crear Nuevo Rol</h1>
                <form method="POST" action="/crear-rol">
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Nombre del Rol</legend>

                        <div class="uk-margin">
                            <input name="role" id="role" class="uk-input" type="text" placeholder="Nombre del Rol"
                                maxlength="25">
                        </div>

                    </fieldset>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                        <button class="uk-button uk-button-secondary" type="submit">Guardar Registro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--FIN MODAL ROL-->